/*--------------------------------------------------------------------------

	CSS
	
	1. Body
	2. Typography
	3. Common Elements
	4. Media Queries

--------------------------------------------------------------------------*/



/*--------------------------------------------------------------------------
	1. Body
--------------------------------------------------------------------------*/

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: ;
	line-height: ;
	background-color: #ffffff;
	margin: 50px;
	-webkit-font-smoothing: antialiased;
	/* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

/*--------------------------------------------------------------------------
	2. Typography
--------------------------------------------------------------------------*/

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 	{ font-family: 'Source Sans Pro', sans-serif;	 }

.heading {
	font-size: 1.8em;
	color: #140155;
	line-height: 26px;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 3px solid #f2cb05;	
}

.paragraph {
	color: #140155;
	font-weight: 600;
	line-height: 1.5;
}


/*--------------------------------------------------------------------------
	3. Common Elements
--------------------------------------------------------------------------*/

.wrapper {
	display: grid;
	grid-template-columns: 18% 43% 34% 6%;
	color: #ffffff;
}

.column-one {
	order: 1;
}
.column-two { 
	order: 2;
	padding-right: 20px;
}

.column-three { 
	order: 3;
}
.column-four { 
	order: 4;
}

.illustration {
	width:83%;
}

.underline {
  border-bottom: 4px solid #f2cb05;
}


/*--------------------------------------------------------------------------
	4. Media Queries
--------------------------------------------------------------------------*/

	@media screen and (min-width: 1600px) { 

	}

	@media screen and (min-width: 960px) and (max-width: 1599px) { 

	}

	@media screen and (min-width: 768px) and (max-width: 959px) { 
.wrapper {
	display: grid;
	grid-gap: ;
	grid-template-columns: 100%;
	}
	
.heading {
	font-size:1.7em;
	margin-bottom: 10px;
	}
	
.paragraph {
	width: 100%;
	margin-top: 0;
	}
	
.column-one { 
	display: none;
	}
	
.column-two { 
	order: 2;
	margin-top: 16px;
	padding: 0 20px 0 20px;
	}
	
.column-three { 
	order: 1;
	}
.column-four { 
	display: none;
	}
	
.illustration {
	width:50%;
	}	
}


	@media screen and (max-width: 767px) { 
body {
	font-size: 12px;
	line-height: 23px;
	}
}


	@media screen and (min-width: 480px) and (max-width: 767px) { 		
.wrapper {
	display: grid;
	grid-gap: ;
	grid-template-columns: 100%;
	}
	
.heading {
	font-size:1.7em;
	margin-bottom: 10px;
	}
	
.paragraph {
	width: 100%;
	margin-top: 0;
	font-size: 1.2em;
}
	
.column-one { 
	display: none;
	}
	
.column-two { 
	order: 2;
	margin-top: 16px;
	padding: 0 20px 0 20px;
	}
	
.column-three { 
	order: 1;
	}
	
.column-four { 
	display: none;
	}
	
.illustration {
	width:60%;
	}	
}


	@media screen and (max-width: 479px) { 
body {
	margin: 20px;
	}
		
.wrapper {
	display: grid;
	grid-gap: ;
	grid-template-columns: 100%;
	}

.heading {
	font-size:1.7em;
	margin-bottom: 10px;
	}

.paragraph {
	width: 100%;
	margin-top: 0;
	font-size: 1.2em;
	}

.column-one { 
	display: none;
	}

.column-two { 
	order: 2;
	margin-top: 16px;
	padding: 0 20px 0 20px;
	}

.column-three { 
	order: 1;
	}

.column-four { 
	display: none;
	}

.illustration {
	width:90%;
	margin-top: 20px;
	}
}
